@import "./reset";
@import "./varible";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

body {
  background-color: $main-bg-color;
  color: $main-text-color;
}

.main {
  width: 40%;
  margin: 0px auto;

  // Nesting Tutorials
  #{&}__paragraph {
    font-weight: weight(bold);
    color: white;

    &:hover {
      color: greenyellow;
    }
  }
}

// functions is used to return value that return by map
