@import "./reset";
@import "./varible";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

// created simple mixin
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// mixin for dark mode and light mode
@mixin theme($current: true) {
  @if $current {
    background: lighten($main-bg-color, 100%);
    color: darken($main-text-color, 0%);
  }
}

body {
  background-color: $main-bg-color;
  color: $main-text-color;
}

.main {
  @include flexCenter(column);
  width: 40%;
  margin: 0px auto;

  // Nesting Tutorials
  #{&}__paragraph {
    font-weight: weight(bold);
    color: white;
    margin: 12px;

    &:hover {
      color: greenyellow;
    }
  }
}

// functions is used to return value that return by map

.light {
  @include theme($current: false);
}
